<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%- include ('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>
        <main class="vh-100 container pt-2 d-flex text-center justify-content-center align-items-center ">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sequi impedit necessitatibus hic.
                    Fugiat, nam dicta in voluptatem dolorum voluptatibus sapiente omnis adipisci ut quod repellendus
                    doloribus accusamus officia exercitationem ipsam maxime perspiciatis? Nulla nemo quos quod est sequi
                    exercitationem iste, pariatur molestiae labore, quaerat distinctio dolorem laboriosam. Maxime optio
                    iure accusantium ea aspernatur, eos temporibus dolorum vitae architecto ab distinctio exercitationem
                    repudiandae fugit velit aliquid placeat doloremque autem aperiam sint reiciendis ipsum. Rem
                    voluptatibus, numquam sequi, veritatis vitae cumque, suscipit eos ratione dignissimos minus saepe.
                    Blanditiis voluptatem quibusdam aperiam eum nesciunt dignissimos quis. Aliquam omnis, adipisci odit,
                    tempora sed quasi exercitationem iusto praesentium fugiat, nisi molestias itaque id quae fuga!
                    Laboriosam, iste? Dolor minima quo est, sunt natus ad ipsa ut veritatis sit vel repudiandae fugit
                    eius dolore dignissimos, nam rerum perferendis, pariatur necessitatibus impedit nisi vero. Expedita
                    ad molestias quis magnam, pariatur maxime! Aspernatur sequi distinctio inventore nemo repellendus
                    perferendis iste velit, labore aliquid vel fuga perspiciatis porro assumenda repellat quisquam ipsum
                    quaerat quidem animi. Quisquam inventore fugit suscipit quidem nisi maxime odit aliquam beatae
                    architecto? Incidunt inventore nesciunt corporis architecto officia magni eos distinctio odit.
                    Excepturi repellendus aperiam illo temporibus quo nihil alias fuga aliquam, minima veniam!</p>
            </section>
         
        </main>
        <%- include('partials/footer') %>
</body>

</html>